<div class="wrap">
    <a class="half-width-links map-link sixcol first" href="{% link map.html %}">
        <div class="fourcol first"><h2>Map</h2></div>
        <div class="eightcol last map-link-image"></div>
    </a>
    <a class="half-width-links about-link sixcol last" href="{% link about.html %}">
        <div class="fourcol first"><h2>About</h2></div>
        <div class="eightcol last about-link-image"></div>
    </a>
</div>
<footer id="footer">
<ul class="wrap">
    <li>
        <div class="eightcol first"><h2>Contact us</h2>
        </div>
        <div class="fourcol last">
        <a href="mailto:kylewaynebenson@gmail.com">passion@kyleandclaire.com</a>
        </div>
    </li>
    <!--<li>
        <div class="eightcol first"><h2>How can I help?</h2>
        <span>Pay for our gas, or call our moms to let them know we're okay and eating all of our vegetables.</span></div>
        <div class="fourcol last">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="DDENDAHKH3YX6" />
            <input border="0" type="submit" name="submit" alt="PayPal - The safer, easier way to pay online!" value="Donate" class="button" />
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" class="" height="1" />
            </form>
        </div>
    </li>-->
        <div class="copyright"><img style="width:44px;height:44px;" src="{{ site.baseurl }}/images/logo-dark.svg"><p>&copy; COPYRIGHT KYLE &amp; CLAIRE 2013</p></div>
</ul>
</footer>
<script>
var _gaq=[['_setAccount','UA-24236654-1'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
