<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ page.title }} » Passionately</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
    <!-- Share Image -->
    <meta property="og:title" content="{{ page.description }} » Passionately">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ site.baseurl }}/assets/share/{{ page.title | replace: " ", "-" }}.png">
  </head>
